body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue;
}

.review-content {
  overflow-wrap: break-word;
}

.review {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: blue;
  color: white;
}

.star_rating {
  display:flex;
  flex-direction: row-reverse;
  justify-content:flex-end;
}

.star_rating input {
  opacity: 0;
  position: absolute;
}

.star_rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
}

.star_rating label:hover,
.star_rating label:hover ~ label {
  color: gold
}

.star_rating input:checked~label{
  color: gold;
}