{%extends "layout.html"%}

{%block title%}Arvostelun muokkaus{%endblock%}

{%block content%}

<h2>{{review.title}}</h2>
<h3>Arvostelun muokkaus</h3>

<form action="/update_review" method="post">
  <p>
    <label for="title">Elokuvan nimi:</label> <br />
    <input type="text" name="title" id="title" value="{{review.title}}" maxlength="50" required/>
  </p>
  <p>
    <label for="director">Ohjaaja:</label> <br />
    <input type="text" name="director" id="director" value="{{review.director}}" maxlength="50" required/>
  </p>

  <p>
    <label for="release_year">Julkaisuvuosi:</label> <br />
    <input type="number" name="release_year" id="release_year" value="{{review.release_year}}" required/>
  </p>

  <p>
    <label for="genre">Genre:</label> <br />
    <input type="text" name="genre" id="genre" value="{{review.genre}}" maxlength="50" required/>
  </p>

  <p>
    <label for="content">Arvio:</label> <br />
    <textarea name="content" id="content" rows="8" cols="60" maxlength="1000" required>{{review.content}}</textarea>
  </p>

  <input type="hidden" name="review_id" value="{{review.id}}"/>

  <h3>Luokat:</h3>

  <h4>Teema</h4>
  <div class="class-list">
    {% for c in themes %}
      <label class="class-item">
        <input type="checkbox" name="classes" value="{{c.id}}"
          {% if c.id in selected_ids %}checked{%endif%}>
        <span>{{c.name}}</span>
      </label>
    {%endfor%}
  </div>

  <h4>Tyyli</h4>
  <div class="class-list">
    {% for c in styles %}
      <label class="class-item">
        <input type="checkbox" name="classes" value="{{c.id}}"
          {% if c.id in selected_ids %}checked{%endif%}>
        <span>{{c.name}}</span>
      </label>
    {%endfor%}
  </div>

  <h4>Kohdeyleisö</h4>
  <div class="class-list">
    {% for c in audiences %}
      <label class="class-item">
        <input type="checkbox" name="classes" value="{{c.id}}"
          {% if c.id in selected_ids %}checked{%endif%}>
        <span>{{c.name}}</span>
      </label>
    {%endfor%}
  </div>


  <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
  <input type="submit" value="Päivitä arvostelua" />
</form>
<p>
  <a href="/review/{{review.id}}">Takaisin arvosteluun</a>

</p>
{%endblock%}