<!DOCTYPE html>
<html>

<head>
  <title>Ilmoituksen muokkaus</title>
</head>

<body>
  <h1>Ilmoituksen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" value="{{item.title}}" maxlength="50" required/>
    </p>
    <p>
      Ohjaaja, julkaisuvuosi ja genre: <br />
      <textarea name="info" rows="2" cols="30" maxlength="100" required>{{item.info}}</textarea>
    </p>
    <p>
      Arvio: <br />
      <textarea name="review" rows="8" cols="60" maxlength="1000" required>{{item.review}}</textarea>
    </p>
    <input type="hidden" name="item_id" value="{{item.id}}"/>
    <input type="submit" value="Päivitä ilmoitusta" />
  </form>
</body>

</html>