{%extends "layout.html"%}

{%block title%}Etsi arvostelu{%endblock%}

{%block content%}

<h2>Etsi arvostelu</h2>
<form action="/find_review" method="get">
  <p>
    <label for="query">Hakusana:</label>
    <input type="text" name="query" id="query" value="{{query}}">
  </p>
  <input type="submit" value="Lähetä">
</form>

{% if query %}
<h3>Tulokset</h3>

<ul>
  {% for review in results %}
  <li><a href="/review/{{review.id}}">{{review.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{%endblock%}