<!DOCTYPE html>
<html>

<head>
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  
  {% for message in get_flashed_messages()%}
  <div class="info">
    {{message}}
  </div>
  {%endfor%}

  <h1>Elokuva-arvostelu</h1>

  {%if session.user_id%}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{session.user_id}}">{{ session.username }}</a>
  </p>
  {%endif%}

  <p>
    <a href="/">Etusivu</a>
    <a href="/find_review">Etsi arvostelu</a>
  </p>

  <p>
  {%if session.user_id%}
    <a href="/new_review">Luo uusi arvostelu</a>
    <a href="/logout">Kirjaudu ulos</a>
  {%else%}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  {%endif%}
  </p>

  {%block content%}{%endblock%}
</body>

</html>