{%extends "layout.html"%}

{%block title%}Kirjaudu sisään{%endblock%}

{%block content%}


{% for message in get_flashed_messages() %}
<p>
  <b>{{message}}</b>
</p>
{% endfor %}

<h2>Kirjaudu sisään</h2>

<form action="/login" method="post">
  <input type="hidden" name="next" value="{{request.args.get('next', '')}}">
  <p>
    Tunnus: <br />
    <input type="text" name="username" />
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password" />
  </p>
    <input type="submit" value="Kirjaudu" />
</form>
{%endblock%}