{%extends "layout.html"%}

{%block title%}Uusi arvostelu{%endblock%}

{%block content%}

<h2>Uusi arvostelu</h2>
<form action="/create_review" method="post">
  <p>
    <label for="title">Elokuvan nimi:</label> <br />
    <input type="text" name="title" id="title" value="{{form_data.get('title', '')}}" maxlength="50" required/>
  </p>

  <p>
    <label for="director">Ohjaaja:</label> <br />
    <input type="text" name="director" id="director" value="{{form_data.get('director', '')}}" maxlength="50" required/>
  </p>

  <p>
    <label for="release_year">Julkaisuvuosi:</label> <br />
    <input type="number" name="release_year" id="release_year" value="{{form_data.get('release_year', '')}}" required/>
  </p>

  <p>
    <label for="genre">Genre:</label> <br />
    <input type="text" name="genre" id="genre" value="{{form_data.get('genre', '')}}" maxlength="50" required/>
  </p>

  <p>
    <label for="content">Arvio:</label> <br />
    <textarea name="content" id="content" rows="8" cols="60" maxlength="1000" required>{{form_data.get('content', '')}}</textarea>
  </p>

  <p>
    <label for="theme">Teema:</label> <br />
    <select name="theme" id="theme">
      <option value="">(valitse)</option>
      {%for theme in themes%}
        <option value="{{theme.value}}">{{theme.value}}</option>
      {%endfor%}
    </select>
  </p>

  <p>
    <label for="style">Tyyli:</label> <br />
    <select name="style" id="style">
      <option value="">(valitse)</option>
      {%for style in styles%}
        <option value="{{style.value}}">{{style.value}}</option>
      {%endfor%}
    </select>
  </p>

  <p>
    <label for="audience">Kohdeyleisö:</label> <br />
    <select name="audience" id="audience">
      <option value="">(valitse)</option>
      {%for audience in audiences%}
        <option value="{{audience.value}}">{{audience.value}}</option>
      {%endfor%}
    </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
  <input type="submit" value="Luo arvostelu" />
</form>
{%endblock%}