<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Ohjaaja, julkaisuvuosi ja genre: <br />
      <textarea name="info" rows="2" cols="30" maxlength="100" required></textarea>
    </p>
    <p>
      Arvio: <br />
      <textarea name="review" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    {%for class in classes%}
    <p>
      {{class}}: <br />
      <select name="classes">
        <option value="">(valitse)</option>"
      {%for option in classes[class]%}
        <option value="{{class}}:{{option}}">{{option}}</option>
      {%endfor%}
      </select>
    </p>
    {%endfor%}
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>