{%extends "layout.html"%}

{%block title%}Luo tunnus{%endblock%}

{%block content%}


<h2>Luo tunnus</h2>
<form action="/register" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" value="{{filled.username}}" maxlength="16" />
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password1" />
  </p>
  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" />
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
{%endblock%}