{%extends "layout.html"%}

{%block title%}Arvostelun poisto{%endblock%}

{%block content%}

<h2>{{review.title}}</h2>
<h3>Arvostelun poisto</h3>
<p>Haluatko varmasti poistaa tämän arvostelun?</p>
<form action="/remove_review/{{review.id}}" method="post">
  <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
  <input type="submit" name="remove" value="Poista arvostelu">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
<p>
  <a href="/review/{{review.id}}">Takaisin arvosteluun</a>
</p>
{%endblock%}