{%extends "layout.html"%}

{%block title%}{{review.title}}{%endblock%}

{%block content%}

  
{% for message in get_flashed_messages()%}
<p>
  <b>{{message}}</b>
</p>
{%endfor%}

<h2>{{review.title}}</h2>
{% if session.user_id == review.user_id %}
<p>
  <a href="/edit_review/{{review.id}}">Muokkaa</a>
  <a href="/remove_review/{{review.id}}">Poista</a>
</p>
{% endif %}
<p class="review-content">
  {{review.content | show_lines}}
</p>
<ul>
  <li>Ohjaaja: {{review.director}}</li>
  <li>Julkaisuvuosi: {{review.release_year}}</li>
  <li>Genre: {{review.genre}}</li>
</ul>

{% if classes.theme or classes.style or classes.audience %}
<p>
  <ul>
    <li>Teema: {{classes.theme}}</li>
    <li>Tyyli: {{classes.style}}</li>
    <li>Kohdeyleisö: {{classes.audience}}</li>
  </ul>
</p>
{%endif%}
<p>
  Arvostelija: <a href="/user/{{review.user_id}}">{{review.username}}</a>
</p>

<h3>Kommentit</h3>
<ul>
  {%for comment in comments%}
  <li>{{comment.content}}, {{comment.rating}}, <a href="/user/{{comment.user_id}}">{{comment.username}}</a></li>
  {%endfor%}
</ul>
<h3>Uusi kommentti</h3>
<form action="/create_comment" method="post">
  <p>
    Kommentti: <br />
    <textarea name="content" rows="5" cols="60" maxlength="1000" required>{{saved_content}}</textarea>
  </p>

  <p>
    Arvio: <br />
    <input type="number" name="rating" min="1" max="5" value="{{saved_rating}}" required/>
  </p>
  <input type="hidden" name="review_id" value="{{review.id}}">
  <input type="submit" value="Julkaise"/>
</form>
{%endblock%}